@charset "UTF-8";
/* todas as demais mídias*/
/* Typical Device Breakpoints
pequenas telas:até 600px
celular:de 600px a 768px 
tablet:768px a 992px
laptop: 992px a 1200px:
desktop:de 1200px a 1800px
tv: 1200px a 1800px
telas grandes: a partir de 1800px

*/
@media print {
    
    
}
@media  screen and (min-width:768px) and(max-width:992px){/*tablet*/
  body {
   background-image:url(../imagens/back-tablet.jpg);
   background-size: cover;
    
  }  
  img#tablet{
    display: block;
  }
}
    
@media screen and(min-width: 992px) and(max-width:1200px)/*desktop*/{
    body {
        background-image: url(back-pc.jpg)no-repeat;
    }
}




/*desktop*/
@media  scren and (min-width:1200px)and (max-width:1800px) {
    
}
/*telas grandes*/

@media  scren and (min-width:1800px){

}
    
